.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0rem 10rem;
  align-items: center;
  box-shadow: 0 0.3rem 0.3rem -0.3rem rgba(0, 0, 0, 0.2);
  a {
    color: #03001c;
    text-decoration: none;
  }
  .name {
    padding: 1rem;
    background: #03001c;
    color: #f7faf9;
    font-size: 1.5rem;
  }
  .name:hover {
    background: #301e67;
  }
  .links {
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    a {
      margin-left: 1.75rem;
      padding: 0.3rem;
    }
  }
  .linktext {
    :hover {
      color: #f7faf9;
      background: #301e67;
    }
  }
}
