.postList {
  padding: 20px 20px 60px;
  max-width: 50rem;
  margin: 0 auto;
  h1 {
    line-height: 2.5rem;
  }
  a {
    color: #03001c;
    text-decoration: none;
  }
  .item {
    margin: 2.5rem 0;
  }
}
