.main {
  padding: 20px 20px 60px;
  max-width: 50rem;
  margin: 0 auto;
  h1 {
    margin: 4rem 0 3rem 0;
  }
  .content {
    a {
      color: #5b8fb9;
      text-decoration: none;
    }
    .item {
      margin: 2.5rem 0;
    }
    line-height: 1.75rem;
    h1 {
      font-size: 2rem;
      line-height: 2rem;
    }
  }
}
